[submodule "AnasheedArchive/Content/Anasheed"]
	path = AnasheedArchive/Content/Anasheed
	url = https://github.com/AnasheedArchive/Anasheed.git
[submodule "BlazorStatic"]
	path = BlazorStatic
	url = https://github.com/AnasheedArchive/BlazorStatic.git
