@* @attribute [Route(Models.PagesNames.News)] *@
@page "/news"
@page "/news/{*fileName}"
@using BlazorStatic
@using BlazorStatic.Services
@inject BlogService<NewsFrontMatter> NewsService

@if (FileName is null)
{
    <NewsList />
    return;
}
<main class="my-5 mx-5 pe-5 ">
    <div class="text-center mb-5">
        <h1 class="site-name"> @post.FrontMatter.Title</h1>
        <p class="lead">@post.FrontMatter.Lead</p>
    </div>
    @((MarkupString)post.HtmlContent)
</main>


@code {
    [Parameter] 
    public string? FileName { get; set; }
    Post<NewsFrontMatter>? post;

    protected override void OnInitialized()
    {
        if (string.IsNullOrWhiteSpace(FileName)) return;
        post = NewsService.BlogPosts.FirstOrDefault(x => x.Url == FileName);
    }
}