@font-face {
    font-family: 'Archive';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('fonts/Archive-Regular.otf');
}

:root {
    /* bootstrap altered variables */
    --bs-blue: var(--blue);
    --bs-indigo: var(--lavender);
    --bs-purple: var(--mauve);
    --bs-pink: var(--pink);
    --bs-red: var(--red);
    --bs-orange: var(--peach);
    --bs-yellow: var(--yellow);
    --bs-green: var(--green);
    --bs-teal: var(--teal);
    --bs-cyan: var(--sky);
    --bs-body-bg: var(--mantle);
    --bs-body-color: var(--text);
    --bs-body-color-rgb: var(--text-rgb);
    --bs-primary: var(--bs-blue);
    --bs-secondary: var(--subtext-1);
    --bs-success: var(--bs-green);
    --bs-info: var(--bs-cyan);
    --bs-warning: var(--bs-yellow);
    --bs-danger: var(--bs-red);
    --bs-primary-rgb: var(--blue-rgb);
    --bs-secondary-rgb: var(--subtext-1-rgb);
    --bs-success-rgb: var(--green-rgb);
    --bs-info-rgb: var(--sky-rgb);
    --bs-warning-rgb: var(--yellow-rgb);
    --bs-danger-rgb: var(--red-rgb);
    --bs-link-color: var(--blue);
    --bs-link-color-rgb: var(--blue-rgb);
    --bs-link-hover-color: var(--sky);
    --bs-link-hover-color-rgb: var(--sky-rgb);
    --bs-focus-ring-color: rgba(var(--bs-primary-rgb), 0.25);
    --bs-form-valid-color: var(--bs-green);
    --bs-form-valid-border-color: var(--bs-green);
    --bs-form-invalid-color: var(--bs-red);
    --bs-form-invalid-border-color: var(--bs-red);
    --bs-tertiary-bg-rgb: var(--crust);
    --bs-border-color: var(--overlay0);

    /* custom variables */
    --selection-bg-color: var(--overlay2-rgb);
    --link-visited: var(--lavender);

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

    --bs-font-sans-serif: Roboto, system-ui;
}

.lateef-light {
    font-family: "Lateef", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2em;
  }

html,
body {
    min-height: 100vh;
}

body>.footer {
    position: sticky;
    top: 100vh;
}

.site-name {
    font-family: "Archive";
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--link-visited);
}

/* Code for Firefox */
::-moz-selection {
    color: white;
    background: rgba(var(--selection-bg-color), .3);
}

::selection {
    color: var(--subtext0);
    background: rgba(var(--selection-bg-color), .3);
}

aside {
    /* width: 10%; */
    float: right;
    /* border: 1px solid var(--mocha-Lavender); */
}

.card {
    /* background-color: var(--mocha-mantle); */
    padding-right: 0;
    padding-left: 0;
}

dt,
dd {
    margin-bottom: 1rem;
}

.lead {
    color: var(--subtext0);
}