<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="theme-catppuccin.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="AnasheedArchive.styles.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="bootstrap.bundle.min.js"></script>
    <script src="color-modes.js"></script>
</body>

</html>
