  <div class="b-example-divider"></div>
    <div class="container px-4 py-5" id="hanging-icons">
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
          <div
            class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#toggles2" />
            </svg>
          </div>
          <div class="containerd">
            <img src="https://media.discordapp.net/attachments/1168605352791650406/1230918910358982740/Screenshot_20240419_193144_X.png?ex=66351191&is=66229c91&hm=76688d3585ca43aafc71a5e4c5d6c2a8321e9abcb63ac7ba41909b3b95e1f504&=&format=webp&quality=lossless" style="width:100%;" alt="goob">
            <div class="centeredd">Centered</div>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div
            class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#cpu-fill" />
            </svg>
          </div>
          <div>
            <h3 class="fs-2 text-body-emphasis">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
              probably just keep going until we run out of words.</p>
            <a href="#" class="btn btn-primary">
              Primary button
            </a>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div
            class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#tools" />
            </svg>
          </div>
          <div>
            <h3 class="fs-2 text-body-emphasis">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
              probably just keep going until we run out of words.</p>
            <a href="#" class="btn btn-primary">
              Primary button
            </a>
          </div>
        </div>
      </div>
    </div>