@inherits LayoutComponentBase


<div class="topbar">
    <NavMenu />
</div>

<main class="container-xxl">
    <article class="main mx-2">
        @Body
    </article>
</main>
<div class="container-xl footer">
    <Footer />
</div>

