@inherits LayoutComponentBase


<div class="topbar">
    <NavMenu />
</div>

<main class="main container-xxl">
    <article class="mx-2">
        @Body
    </article>
</main>

<div class="footer container">
    <Footer />
</div>
