nav {
    background-color: var(--crust);
}

.navbar-brand {
    color: var(--text);
}

/*
::deep .nav-link{
    color: var(--text) !important;
}

*/
::deep .nav-link{
    color: var(--subtext0);
}

::deep .active {
    /* rosewater, pink, red, mauve */
    color: var(--mauve) !important;
}